services:
  db:
    image: mysql:8.0
    container_name: auction_db
    env_file: [ ./.env.db ]
    environment: { TZ: America/Toronto }
    volumes: [ db_data:/var/lib/mysql ]
    healthcheck:
      test: ["CMD","mysqladmin","ping","-h","localhost","--silent"]
      interval: 5s
      timeout: 5s
      retries: 20

  backend:
    build: { context: ./backend }
    container_name: auction_backend
    env_file: [ ./.env ]
    environment: 
      TZ: America/Toronto
      FRONTEND_BASE_URL: "http://localhost:3000"
      EMAIL_BACKEND: "django.core.mail.backends.smtp.EmailBackend"
      EMAIL_HOST: "smtp.gmail.com"
      EMAIL_PORT: "587"
      EMAIL_USE_TLS: "True"
      EMAIL_HOST_USER: "kickbay25@gmail.com"
      EMAIL_HOST_PASSWORD: "gnhe rjpe ywxp flnv"
      DEFAULT_FROM_EMAIL: "kickbay25@gmail.com"
    volumes: [ ./backend:/app ]
    depends_on:
      db: { condition: service_healthy }
    ports: [ "8000:8000" ]
    
  frontend:
    build: { context: ./frontend }
    container_name: auction_frontend
    env_file: [ ./.env ]
    environment:
      NEXT_PUBLIC_API_BASE: ${NEXT_PUBLIC_API_BASE}
      TZ: ${TZ}
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports: [ "3000:3000" ]
    depends_on: [ backend ]
    command: npm run dev

volumes:
  db_data: